<!doctype html>
<!-- Declares meanMapApp as the starting Angular module -->
<html class="no-js" ng-app="meanMapApp">
<head>
    <meta charset="utf-8">
    <title>Fixit Map</title>
    <meta name="description" content="An example demonstrating Google Map integration with MEAN Apps">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="style.css"/>
    <!-- Holder JS -->
    <!--<script src="../bower_components/holderjs/holder.js"></script>-->
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPOTpP0mViNV6ae7T7SDT064p8PV2T75k"></script>
    <!-- Modernizr -->
    <script src="../bower_components/modernizr/bin/modernizr"></script>
    <!-- JS Source -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>

    <!-- Angular Scripts -->
    <script src="js/app.js"></script>
    <script src="js/addCtrl.js"></script>;
    <script src="js/addProject.js"></script>;
    <script src="js/gservice.js"></script>

</head>
<body ng-controller="addCtrl">
<div class="container">
    <div class="header">
        <h3 class="text-muted"><a href="/">Fixit!</a></h3> <b>Logged in as Peter Pan.</b>
    </div>
    <!-- Map and Side Panel -->
    <div class="row content">
        <!-- Google Map -->
        <div class="col-md-9">
            <div id="map" style="width:645px; height:645px"></div>
        </div>
        <!-- Side Panel -->
        <div class="col-md-8">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <!--<div class="panel-heading">-->
                    <!--<h2 class="panel-title text-center"> <span class="glyphicon glyphicon-map-marker"></span></h2>-->
                <!--</div>-->
                <!-- Panel Body -->
                <div class="panel-body" >
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="addForm" novalidate>
                        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                        <div class="form-group">
                            <label for="username">{{problemInfo}} </label>
                            <input type="text" class="form-control" id="username" value="Fallen tree branch, blocking sidewalk" required>
                        </div>

                        <div class="form-group">
                            <label for="teammates">Teammates </label>
                            <input type="text" class="form-control" id="teammates" placeholder="Seperate list by comma," ng-model="formData.teammates" required>
                        </div>

                        <div class="form-group">
                            <label for="equipment_needed">Equipment Needed </label>
                            <input type="text" class="form-control" id="equipment_needed" placeholder="Sickle, Chainsaw, Pruner" ng-model="formData.equipment_needed" required>
                        </div>

                        <div class="form-group">
                            <label for="deadline">Suggest Duration</label>
                            <input type="text" class="form-control" id="deadline" placeholder="5 days" ng-disabled="all" ng-model="formData.deadline" required>
                        </div>


                        <div class="form-group">
                            <label for="description">Solution/Suggestion</label>
                            <input type="text" class="form-control" id="description" placeholder="min. 100 words" ng-model="formData.description" required>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success btn-block" ng-click="createProject()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <!-- Footer -->
    <div class="footer">
  </div>
</div>
</body>
</html>